---
import { getCollection } from "astro:content";
import HighlightGrid from "../../../../components/HighlightGrid.astro";
import Layout from "../../../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const highlights = await getCollection("highlights");
  const books = await getCollection("books");

  const uniqueBookOLIDs = [
    ...new Set(highlights.flatMap((highlight) => highlight.data.source)),
  ];

  return uniqueBookOLIDs.map((olid) => ({
    params: { olid },
    props: {
      book: books.find((b) => b.id === olid)?.data,
      filteredHighlights: highlights
        // apparently this is horrendous for perf, but because this is just during build time I think it's ok
        .sort(
          (a, b) =>
            new Date(b.data.timestamp).getTime() -
            new Date(a.data.timestamp).getTime(),
        )
        .filter((highlight) => highlight.data.source == olid),
    },
  }));
}


const { filteredHighlights, book } = Astro.props;
---

<Layout title=`Highlights`>
  <div>
    <h3><span class="italic">{book?.title}</span></h3>
    <span>By {book?.author}</span>
  </div>
  {
    (book.blurb || book.rating) && (
      <div class="border my-6 p-4 flex flex-col gap-2">
        {book.blurb && (
          <div>
            <h4>Blurb</h4>
            <span>{book?.blurb}</span>
          </div>
        )}
        {book.rating && (
          <div>
            <h4>Rating</h4>
            <span>{book?.rating}</span>
          </div>
        )}
      </div>
    )
  }
  <HighlightGrid highlights={filteredHighlights} />
</Layout>
