---
import { getCollection } from "astro:content";

const books = await getCollection("books");
---

<div class="book-grid">
  {
    books.map((book) => (
      <a href={`/books/${book.id}`} class="book-card">
        {book.data.coverImage?.medium && (
          <img
            src={book.data.coverImage.medium}
            alt={`Cover of ${book.data.title}`}
          />
        )}
        <div class="book-info">
          <h3>{book.data.title}</h3>
          <p>{book.data.author}</p>
        </div>
      </a>
    ))
  }
</div>
