---
import { getCollection } from "astro:content";
import LyricStatus from "./Status.astro";

const lyricStatuses = await getCollection("lyricStatuses");

const latestLyric = lyricStatuses[lyricStatuses.length - 1];
const olderLyrics = Object.entries(lyricStatuses).slice(
  0,
  lyricStatuses.length - 1
);
---

<style>
  .lyrics {
    max-height: none;
    overflow-y: visible;
  }

  details.older-lyrics {
    margin-top: 1rem;
    border-top: none;
  }

  details summary {
    cursor: pointer;
    user-select: none;
    color: #93c5fd;
    font-size: 0.9rem;
  }

  details summary:hover {
    color: #bfdbfe;
  }

  details .lyrics-container {
    display: flex;
    flex-direction: column;
  }
</style>

<ul class="lyrics">
  <LyricStatus
    emoji={latestLyric.data.emoji}
    date={latestLyric.data.date?.toLocaleDateString()}
    attribution={latestLyric.data.attribution}
    ><span class="italic">{latestLyric.data.text}</span></LyricStatus
  >

  <details class="older-lyrics p-0">
    <summary>Older</summary>
    <div class="lyrics-container flex flex-col gap-2">
      {
        olderLyrics.reverse().map(([_key, lyric]) => (
          <LyricStatus
            emoji={lyric.data.emoji}
            date={lyric.data.date ? lyric.data.date.toLocaleDateString() : ""}
            attribution={lyric.data.attribution}
          >
            <span class="italic">{lyric.data.text}</span>
          </LyricStatus>
        ))
      }
    </div>
  </details>
</ul>
