---
import { getCollection } from "astro:content";
import Status from "./Status.astro";

const lyricStatuses = await getCollection("siteUpdates");

const latestLyric = lyricStatuses[lyricStatuses.length - 1];
const olderLyrics = Object.entries(lyricStatuses).slice(
  0,
  lyricStatuses.length - 1
);
---

<style>
  .lyrics {
    max-height: none;
    overflow-y: visible;
  }

  details.older-lyrics {
    margin-top: 1rem;
    border-top: none;
  }

  details summary {
    cursor: pointer;
    user-select: none;
    color: #156e3d;
    font-size: 0.9rem;
  }

  details summary:hover {
    text-decoration: underline;
  }

  details .lyrics-container {
    display: flex;
    flex-direction: column;
  }
</style>

<ul class="lyrics">
  <Status
    emoji={latestLyric.data.emoji}
    date={latestLyric.data.date?.toLocaleDateString()}
    attribution={latestLyric.data.attribution}
  >
    {latestLyric.data.text}
  </Status>

  <details class="older-lyrics p-0">
    <summary>Older</summary>
    <div class="lyrics-container flex flex-col gap-2">
      {
        olderLyrics.reverse().map(([_key, lyric]) => (
          <Status
            emoji={lyric.data.emoji}
            date={lyric.data.date ? lyric.data.date.toLocaleDateString() : ""}
            attribution={lyric.data.attribution}
          >
            {lyric.data.text}
          </Status>
        ))
      }
    </div>
  </details>
</ul>
