---
import "../styles/global.css";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

const { title, description, pubDate, overflowHidden, targetParent } =
  Astro.props;
---

<html lang="en" class=`${overflowHidden ? 'overflow-hidden' : ''}`>
  <head>
    <BaseHead title={title + " | blake.earth"} description={description} />

    <style>
      main {
        display: flex;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <Header targetParent={targetParent} />
      <div class="layout">
        <main class="glass-panel flex flex-col gap-2">
          <h2>{title}</h2>
          {description && <span class="italic">{description}</span>}
          {pubDate && <FormattedDate date={pubDate} />}
          <article><slot /></article>
        </main>

        <div class="next">
          <aside class="sidebar glass-panel">
            <a href="/rss.xml" class="flex gap-2 items-center">
              Subscribe via RSS <img
                class="h-[1.5rem]"
                src="/images/feed-icon.png"
              />
            </a>
          </aside>

          <aside class="sidebar glass-panel sidebar-one">
            <h2>Lyric Status</h2>
            <iframe src="/lyric-statuses" title="Lyric Status" style="width:100%;height:12rem;border:0;" loading="lazy"></iframe>
          </aside>

          <aside class="glass-panel sidebar sidebar-two">
            <h2>Updates</h2>
            <iframe src="/updates" title="Site Updates" style="width:100%;height:12rem;border:0;" loading="lazy"></iframe>
          </aside>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
